.todoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
}
.count {
    font-size: 16px;
    line-height: 22px;
    color: #43465C;
    width: 33%;
    text-align: left;
}
.form_radio {
    width: 33%;
}
.form_radio_btn {
    display: inline-block;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 2px 6px;
    user-select: none;
    font-size: 16px;
    line-height: 22px;
    color: #43465C;
    font-weight: 600;
    transition: .15s ease-in-out all;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    color: #4873D8;
}

/* Hover */
.form_radio_btn label:hover {
    color: #A2A0C0;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
    color: #4873D8;
}
.clearWrap {
    width: 33%;
    text-align: right;
}
.clear {
    font-size: 16px;
    line-height: 22px;
    color: #43465C;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: .15s ease-in-out all;
}
.clear:hover {
    color: #A2A0C0;
}