.todoListWrapper {
    position: absolute;
    background-color: #171723;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.todoList {
    max-width: 660px;
    margin: 100px auto;
}

.todoList h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 46px;
    color: #fff;
    letter-spacing: 16px;
    font-weight: 600;
}